p {
  margin: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #FFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.spinner {
  z-index: 1000;
}

.spinner2 {
  z-index: 1000;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.reservationCard {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  padding: 20px;
  border-radius: 0.5rem;
  
}

.left {

}

.ImageContainer {
  display: flex;
  
}

.img {
  width: 80px;
  height: auto;
  border-radius: 0.6rem;
}

.right {

}

.title {
  color: rgb(37, 48, 80);
  font-size: 1rem;
  margin: 0 0 0 0.5rem;
}

.datesContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.dates {
  display: flex;
  flex-direction: row;
  box-shadow: rgb(9 17 41 / 20%) 0px 4px 16px 0px;
  background-image: radial-gradient(rgb(226, 226, 226), rgb(255, 255, 255));
  border-radius: 12px;
}

.beginDate {
  padding: 9px 13px 17px 14px;
  background: linear-gradient(88deg, rgb(180, 82, 163), rgb(118, 64, 161)) left bottom / 100% 6px no-repeat rgb(255, 255, 255);
  margin-right: 0.5rem;
  border-radius: 12px 0px 0px 12px;
}

.beginDate:first-child {
  clip-path: polygon(0% 0%, 97% 0%, 100% 50%, 97% 100%, 0% 100%);
}


.endDate {
  padding: 9px 13px 17px 14px;
  background: linear-gradient(88deg, rgb(180, 82, 163), rgb(118, 64, 161)) left bottom / 100% 6px no-repeat rgb(255, 255, 255);
  clip-path: polygon(100% 0px, 0px 0px, 3% 50%, 0px 100%, 100% 100%);
  border-radius: 0px 12px 12px 0px;
}

.logos {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0 0 0;
}

.logo {
  width: 80px;
  height: auto;
  border-radius: 0.6rem;
  margin-right: 1rem;
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .App-header {
    padding: 1rem;
  }
  .reservationCard {
    flex-direction: column;
  }
}